body {
  margin:0;
}
#top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h1 {
  margin-top: 25%;
  margin-bottom: 0;
}
#middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
a {
  color:black;
  text-decoration: none;
}
#bottom {
  margin-top: 10px;
}
